{% extends "base.html" %}
{% block container %}
    <h1 class="mt-5">Nothing for Flax</h1>
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
    <div class="dashboard">
      <h3>{{ dashboard.title }}</h3>
      <div class="div-dashboard" id="div-dashboard">
        <iframe src={{ dashboard.url }} class="iframe-dashboard" frameborder="0" onload="changeFrameHeight()" frameborder="0" id="iframe-dashboard">Sorry!Iframe is not supported by your browser.</iframe>
       </div>
     </div>

  <script type="text/javascript">
function changeFrameHeight(){
    var ifm = document.getElementById("iframe-dashboard");
    var col = document.getElementsByClassName("col-md-8 order-md-1")[0];
    if(ifm){
      ifm.height = col.clientHeight * 1;
      ifm.width = col.clientWidth * 0.8;
  }
}

window.onresize=function(){  
      changeFrameHeight();  

} 
</script>
{% endblock %}