{% extends "./base.html" %}
{% block container %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom mt-5">
            <h1 class="h2">Blog</h1>
    </div>
    <br>
	{% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
	<div class="entries table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Author</th>
            <th>Title</th>
            <th>Content</th>
            <th>SubTime</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
          <tr class="entry">
            <td>{{ entry.suber_id }}</td>
            <td>{{ entry.title }}</td>
            <td>{{ entry.content }}</td>
            <td>{{ entry.sub_time }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}