<!DOCTYPE html>
<html>
<head>
  <title> Nothing for Flax </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
</head>
<body>
<!-- the navbar of the body-->
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('auth.index') }}">Flax</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          {% if not session.logged_in %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('auth.index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Template <span class="sr-only">(current)</span></a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('short.getShortLink') }}">Short</a>
              <a class="dropdown-item" href="/admin/">Flask-Admin</a>
              <a class="dropdown-item" href="{{ url_for('manage.manage') }}">Manage</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>

      {% if not session.logged_in %}
      <a class="btn btn-success" role="button" href="{{ url_for('auth.login') }}">LogIn</a>
      {% else %}
      <a class="navbar-brand" href="#">hello,{{ session.username }}</a>
      <a class="btn btn-warning" role="button" href="{{ url_for('auth.logout') }}">LogOut</a>
      {% endif %}
    </nav>
  </header>
  
  
  <!-- the main container of the body-->
  <div class="container" role="main">
    {% block container %}
    {% endblock %}
  </div>
  <br><br>
  
  <!-- the footer of the body-->
  <footer class="footer">
    <div class="container">
      <span class="text-muted">@Flax</span>
    </div>
  </footer>

  
<!-- js files-->
  <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>

</body>
</html>

