{% extends "base.html" %}
{% block container %}
    <h1 class="mt-5">Nothing for Flax</h1>
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
    <div class="dashboard">
      <h3>{{ dashboard.title }}</h3>
      <div class="div-dashboard">
        <iframe src={{ dashboard.url }} class="iframe-dashboard" frameborder="0" onload="changeFrameHeight()" frameborder="0" id="iframe-dashboard">Sorry!Iframe is not supported by your browser.</iframe>
       </div>
     </div>

  <script type="text/javascript">
function changeFrameHeight(){
    var ifm= document.getElementById("iframe-dashboard"); 
    if(ifm){
      ifm.height=document.documentElement.clientHeight * 0.7;
      ifm.width=document.documentElement.clientWidth*0.6;
  }
}

window.onresize=function(){  
      changeFrameHeight();  

} 
</script>
{% endblock %}