<!DOCTYPE html>
<html>
<head>
  <title> Nothing for Flax </title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<!-- the navbar of the body-->
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flax</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          {% if not session.logged_in %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Link</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
              <div class="entries">
              {% for entry in entries%}
                <div class="entry">
                <a class="dropdown-item" href="/dashboard/{{ entry.post_id }}" id={{ entry.post_id }}>{{ entry.title }}</a></div>
              {% else %}
                <a href="#">no title</a>
              {% endfor %}
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('manage') }}">Manage <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
      </div>

      {% if not session.logged_in %}
      <a class="btn btn-success" role="button" href="{{ url_for('login') }}">LogIn</a>
      {% else %}
      <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">LogOut</a>
      {% endif %}
    </nav>
  </header>
  
  
  <!-- the main container of the body-->
  <div class="container" role="main">
    <h1 class="mt-5">Nothing for Flax</h1>
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
    <div class="dashboard">
      <h3>{{ dashboard.title }}</h3>
      <div class="div-dashboard">
        <iframe src={{ dashboard.url }} class="iframe-dashboard" frameborder="0" onload="changeFrameHeight()" frameborder="0" id="iframe-dashboard">Sorry!Iframe is not supported by your browser.</iframe>
       </div>
    </div>
  <br><br>
  
  <!-- the footer of the body
  <footer class="footer">
    <div class="container">
      <span class="text-muted">@CCSG_CN</span>
    </div>
  </footer>
-->
  
<!-- js files-->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
function changeFrameHeight(){
    var ifm= document.getElementById("iframe-dashboard"); 
    if(ifm){
      ifm.height=document.documentElement.clientHeight * 0.7;
      ifm.width=document.documentElement.clientWidth*0.6;
	}
}

window.onresize=function(){  
      changeFrameHeight();  

} 
</script>
</body>
</html>

