<!DOCTYPE html>
<html>
<head>
  <title> Nothing for Flax </title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<!-- the navbar of the body-->
  <header>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">Flax</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          {% if session.logged_in %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('manage') }}">Manage <span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
      </div>

      {% if not session.logged_in %}
      <a class="btn btn-success" role="button" href="{{ url_for('login') }}">LogIn</a>
      {% else %}
      <a class="btn btn-warning" role="button" href="{{ url_for('logout') }}">LogOut</a>
      {% endif %}
    </nav>
  </header>
  
  
  <!-- the main container of the body-->
  <div class="container" role="main">
    <h1 class="mt-5">Mofidy Link Info</h1>
    <br><br>
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
    {% if key %}
    <div class="entry">
    <form action="/id/{{ entry.post_id }}" method="POST" class="form-group">
      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{ entry.title }}">
      </div>
      <div class="mb-3">
        <label for="url">URL</label>
        <input type="text" class="form-control" name="url" value="{{ entry.url }}">
      </div>
        <br><br>
        <dd><input class="btn btn-primary btn-lg btn-block" type='submit' name="{{ key['method'] }}" value="{{ key['value'] }}"></dd>
        <dd><input type="hidden" name="_method" value="{{ key['method'] }}"></dd>
      </dl>
    </form>
    </div>
    {% endif %}
  <br><br>
  
  <!-- the footer of the body
  <footer class="footer">
    <div class="container">
      <span class="text-muted">@CCSG_CN</span>
    </div>
  </footer>
-->
  
<!-- js files-->
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</script>
</body>
</html>

