{% extends "./base.html" %}
{% block container %}
    <h1 class="mt-5">Mofidy Link Info</h1>
    <br><br>
    {% for message in get_flashed_messages() %}
      <div class="flash alert alert-success col-sm-4" role="success">{{ message }}</div>
    {% endfor %}
    {% if key %}
    <div class="entry">
    <form action="id/{{ entry.post_id }}" method="POST" class="form-group">
      <div class="mb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{ entry.title }}">
      </div>
      <div class="mb-3">
        <label for="url">URL</label>
        <input type="text" class="form-control" name="url" value="{{ entry.url }}">
      </div>
        <br><br>
        <dd><input class="btn btn-primary btn-lg btn-block" type='submit' name="{{ key['method'] }}" value="{{ key['value'] }}"></dd>
        <dd><input type="hidden" name="_method" value="{{ key['method'] }}"></dd>
      </dl>
    </form>
    </div>
    {% endif %}
{% endblock %}